# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Test coverage
.coverage
*.cover

# Cache files
*.cache
*.egg-info/

# Environment variables
.env
